/*
replace leanote/resources/app/public/themes/markdown/default/index.css with this file
*/

pre.prettyprint * {
    font-family: 'Ubuntu Mono', Consolas, source-code-pro, Monaco, Menlo, Hiragino Sans GB, "Microsoft YaHei", "微软雅黑"
}
pre.prettyprint {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}
code.prettyprint, pre.prettyprint {
    padding: 8px;
    background-color: #f0f0f0;
    border: 1px solid #e1e1e8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    display: block;
    box-shadow: 0 1px 2px rgba(255, 255, 255, .1) inset, 40px 0 0 rgba(102, 128, 153, .05) inset, 0 1px 0 rgba(102, 128, 153, .05)
}
#preview-contents pre ol li {
    padding-left: 10px
}
code.prettyprint ol.linenums, pre.prettyprint ol.linenums {
    padding: 0 0 0 30px;
    margin: 0
}
blockquote p, ol, ol ol, ol ul, ul, ul ol, ul ul {
    margin-bottom: .3em
}
code.prettyprint ol.linenums li, pre.prettyprint ol.linenums li {
    padding-left: 0;
    color: #bebec5;
    line-height: 20px
}
code.prettyprint .com, pre.prettyprint .com {
    color: #93a1a1;
    font-style: italic
}
code.prettyprint .lit, pre.prettyprint .lit {
    color: #195f91
}
code.prettyprint .clo, code.prettyprint .opn, code.prettyprint .pun, pre.prettyprint .clo, pre.prettyprint .opn, pre.prettyprint .pun {
    color: #93a1a1
}
code.prettyprint .fun, pre.prettyprint .fun {
    color: #dc322f
}
code.prettyprint .atv, code.prettyprint .str, pre.prettyprint .atv, pre.prettyprint .str {
    color: #d14
}
code.prettyprint .kwd, code.prettyprint .tag, pre.prettyprint .kwd, pre.prettyprint .tag {
    color: #1e347b
}
code.prettyprint .atn, code.prettyprint .dec, code.prettyprint .typ, code.prettyprint .var, pre.prettyprint .atn, pre.prettyprint .dec, pre.prettyprint .typ, pre.prettyprint .var {
    color: teal
}
code.prettyprint .pln, pre.prettyprint .pln {
    color: #48484c
}
a code {
    color: inherit
}
pre {
    word-break: break-word;
    border-radius: 5px
    line-height:14px!important; /*wangyong 1em=16px*/
    font-size: 16px!important; /*wangyong*/

}
blockquote, p {
    margin: 0 0 .3em
}

hr {
    margin: 2em 0
}
img {
    max-width: 100%
}
code, pre {
    font-family: "Source Code Pro", monospace;
    font-size: .9em
}
code {
    white-space: normal;
    /* wangyong start */
    word-break: break-all; 
    /* wangyong end */
}
pre.prettyprint {
    text-align: start;
    border: 0;
    padding: 10px 20px;
    font-size: 12px
}
pre.prettyprint code {
    background-color: transparent!important
}
dd, dt {
    margin-top: 5px;
    margin-bottom: 5px
}
dd {
    margin-left: 40px
}
#preview-contents table {
    margin-bottom: 20px;
    /*wangyong*/
    /*width: 100%*/
}
#preview-contents table td, #preview-contents table th {
    padding: 8px;
    line-height: 20px;
    /*wangyong*/
    /*vertical-align: top;*/
    vertical-align: center;
    border: 1px solid #ddd
}
#preview-contents table th {
    font-weight: 700;
    /*wangyong*/
    /*vertical-align: bottom*/
    vertical-align: center;
}
#preview-contents table tbody>tr:nth-child(2n+1)>td, #preview-contents table tbody>tr:nth-child(2n+1)>th {
    background-color: rgba(102, 128, 153, .05)
}
blockquote {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;
    border-left: 10px solid #D6DBDF;
    background: rgba(102, 128, 153, .05)
}
blockquote p {
    font-size: 1em;
    line-height: 1.45
}
blockquote ol:last-child, blockquote ul:last-child {
    margin-bottom: 0
}
.preview-panel {
    background-color: #f8f8f8
}

/******************** custom *****************************/
/*wangyong*/


/* 
* copied from github
* control the hr line
*/
#preview-contents hr {
  /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC) repeat-x;*/
  background: #ccc;
  height: 1.5px;
  padding: 0
}

/*the links*/
#preview-contents a {
  color: #4183C4;
  text-decoration: none!important /*取消下划线*/
}


/*
* windows版本，即使使用important也无效
* 改这个文件才可以： app\public\themes\default.css
*/
#preview-contents h1 {
    font-size: 32px;
    /*color: #c44141;*/
    font-size: 900!important;
}
